<div class="content-block">
  <div class="dx-card responsive-paddings">
    <p>Service Orders for category: {{serviceType | uppercase}}</p>
    <dx-data-grid keyExpr="id" [dataSource]="orders" [showBorders]="true">
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

      <dxi-column dataField="orderNo"></dxi-column>
      <dxi-column dataField="status" [cellTemplate]="'statusCell'"></dxi-column>
      <dxi-column dataField="orderDate" dataType="date"></dxi-column>
      <dxi-column dataField="vehicleVin"></dxi-column>
      <dxi-column type="buttons" [width]="110">
        <dxi-button icon="edit" [onClick]="viewDetails"></dxi-button>
      </dxi-column>
      <div *dxTemplate="let data of 'statusCell'">
        {{data.data.status | orderStatus}}
    </div>
    <dxo-toolbar>
      <dxi-item location="before">
        <div *dxTemplate>
          <dx-button icon="refresh" (onClick)="refreshData()"> </dx-button>
        </div>
      </dxi-item>
      <dxi-item name="addRowButton" location="after"></dxi-item>
      <dxi-item name="searchPanel"></dxi-item>
    </dxo-toolbar>
    </dx-data-grid>
  </div>
</div>
