<dx-toolbar class="app-toolbar">
    <dxi-item
    location="before"
    widget="dxButton"
    locateInMenu="auto"
    [options]="{icon:'menu', onClick:toggleDrawer}"
  >
  </dxi-item>
  <dxi-item location="center" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <div class="toolbar-label"><b>My Auto Service</b></div>
    </div>
  </dxi-item>
</dx-toolbar>
<dx-drawer
  [openedStateMode]="'shrink'"
  [position]="'left'"
  [revealMode]="'slide'"
  template="template"
  [(opened)]="isDrawerOpen"
  height="calc(100% - 40px)"
  [closeOnOutsideClick]="true"
>
  <div *dxTemplate="let data of 'template'" style="width: 200px; height:100%">
    <dx-tree-view
      class="panel-list dx-theme-accent-as-background-color"
      [dataSource]="navigationItems"
      [hoverStateEnabled]="false"
      [activeStateEnabled]="false"
      [focusStateEnabled]="false"
      expandEvent="click"
      [expandAllEnabled]="false"
      [height]="'100%'"
      (onItemClick)="onItemClick($event)"
    >
    </dx-tree-view>
  </div>
  <div id="content" class="dx-theme-background-color">
    <router-outlet></router-outlet>
  </div>
</dx-drawer>
<!--<div class="app-container">-->
<!--  <div class="app-menu">-->
<!--  </div>-->
<!--  <div class="app-content">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div class="app-footer">-->
<!--    <span>copyright RAR-DTIC 2022 - {{getAppVersion()}}</span>-->
<!--  </div>-->
<!--</div>-->

