<div class="content-block">
  <div class="dx-card responsive-paddings">
    <h3>Order details</h3>
    <div class="order-details">
      <div class="dx-fieldset">
        <div class="dx-fieldset-header">Order Info</div>
        <div class="dx-field">
          <div class="dx-field-label">Vehicle VIN:</div>
          <div class="dx-field-value-static">{{order.vehicleVin }}</div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Order date</div>
          <div class="dx-field-value-static">{{order.orderDate | date:'dd.MM.yyyy' }}</div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Order status</div>
          <div class="dx-field-value-static">{{order.status | orderStatus}}</div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Order notes</div>
          <div class="dx-field-value-static">{{order.notes }}</div>
        </div>
        <dx-button type="default" text="Vehicle Received" [visible]="order.status == 'sent'" (onClick)="handleVehicleReceived()"></dx-button>
      </div>
      <div class="dx-fieldset" *ngIf="order.status != 'sent'">
        <div class="dx-fieldset-header">Order Parts and Materials</div>
        <dx-button type="primary" class="spacer-top" text="Add" (onClick)="addMaterials()" *ngIf="order.status == 'vehicleReceived'"></dx-button>
        <div class="dx-field spacer-bottom" *ngFor="let item of order.materials">
          <dx-select-box class="dx-field-value spacer-left" label="Category" labelMode="floating" [readOnly]="order.status == 'partsOrdered'"  [(value)]="item.category" [dataSource]="['Body', 'Electrics','Mechanics']"></dx-select-box>
          <dx-text-box class="dx-field-value spacer-left" label="Name" labelMode="floating" [readOnly]="order.status == 'partsOrdered'"  [(value)]="item.name"></dx-text-box>
          <dx-text-box class="dx-field-value spacer-left" label="Details" labelMode="floating" [readOnly]="order.status == 'partsOrdered'" [(value)]="item.details"></dx-text-box>
          <dx-button type="danger" icon="trash" (onClick)="deleteMaterials(item)" *ngIf="order.status == 'vehicleReceived'"></dx-button>
        </div>
        <dx-button type="primary" class="spacer-top spacer-right" text="Save" *ngIf="order.materials && order.materials.length > 0 && order.status == 'vehicleReceived'" (onClick)="saveMaterialsOrder()"></dx-button>
        <dx-button type="default" class="spacer-top spacer-left" text="Send" *ngIf="order.materials && order.materials.length > 0 && order.status == 'vehicleReceived'" (onClick)="sendMaterialsOrder()"></dx-button>
      </div>
      <div class="dx-fieldset" id="notes-container">
        <div class="dx-fieldset-header">Order completed</div>
        <div class="dx-field">
          <div class="dx-field-label">Notes</div>
          <dx-text-area
            class="dx-field-value"
            [height]="80"
            [(value)]="order.notes"
          >
          </dx-text-area>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">Closed date</div>
          <div class="dx-field-value-static">{{order.dateCompleted | date:'dd.MM.yyyy' }}</div>
        </div>
        <dx-button [visible]="order.status != 'closed'" type="success" text="Finalize" (onClick)="finalizeOrder()"></dx-button>
      </div>
    </div>
  </div>
</div>
